@import "./fonts";

body {
    font-family: 'Pt-root-ui', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #3f3f3f;
}

p {
    margin: 0;
}

.modal {
    min-width: 400px;
    height: 480px;
    background-color: #F8F9FA;
    position: relative;
}

.modal__windowChat {
    max-width: 380px;
    height: 379px;
    background: #FFFFFF;
    border: 1px solid #D0D5D8;
    margin: 20px 10px;
    overflow-y: auto;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.message-user {
    margin-right: 10px;
    align-self: flex-end;
    background: #FAA419;
}

.message-bot {
    background: #8C64D8;
    align-self: flex-start;
}

.message {
    border-radius: 4px;
    padding: 10px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.user-name {
    align-self: flex-end;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
}

.bot-name {
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
}

.m_text {
    max-width: 220px;
    height: auto;
    font-size: 15px;
    line-height: 16px;
    color: #f3f3f3;
    letter-spacing: .5px;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
}

.modal__forms-btn {
    background: #FAA419;
    border-radius: 4px;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;   
    color: #FFFFFF;
    padding: 9px 14px;
    border: none;
    cursor: pointer;
    transition: all .2s;
}

.modal__forms-btn:hover {
    background: #d88c11;
}

.modal__forms-text {
    width: 201px;
    background: transparent;
    border-radius: 4px;
    padding: 9px 12px;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: rgba(0, 0, 0, 0.3);
    border: #a3a3a3 1px solid;;
    color: #000;
    outline: none;
    transition: all .2s;
}

.btn__micro {
    border: none;
    background: #8C64D8;
    border-radius: 4px;
    cursor: pointer;
    transition: all .2s;
}

.btn__micro:hover {
    background: #7e5ac2;
}

.form {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 0 10px;
}

.modal__forms-micro {
    padding: 5px 6px 0;
}